In [86]:
import sys
sys.path.append('../personal_pkgs/')
import pickle
import pandas as pd
import oop_func as func
import personal_pkg as ref
import parsing_func as pars
import os
import re
from collections import Counter
import warnings
warnings.filterwarnings("ignore")
from IPython.display import Markdown
from ordered_set import OrderedSet

In [123]:
base_df = pd.read_csv('base_df.csv')
fm_base_df = pd.read_csv('fm_base_df.csv')
f_base_df = pd.read_csv('f_base_df.csv')
sc_base_df = pd.read_csv('sc_base_df.csv')
dr_base_df = pd.read_csv('dr_base_df.csv')

In [124]:
def return_multiple_author(base_df):
    testing_df = base_df[base_df['author'].notnull()]
    author = testing_df['author'].tolist()
    author1 = [i.strip() for i in author]
    testing_df['journal'] = author1
    return testing_df.loc[:,['author','journal','paper','year','from']]

In [125]:
fm_base_df = return_mutiple_author(fm_base_df)
f_base_df = return_mutiple_author(f_base_df)
sc_base_df = return_mutiple_author(sc_base_df)
dr_base_df = return_mutiple_author(dr_base_df)

In [126]:
fm_base_df['year'] = fm_base_df['year'].apply(lambda x : str(x).split('.')[0])
f_base_df['year'] = f_base_df['year'].apply(lambda x : str(x).split('.')[0])
sc_base_df['year'] = sc_base_df['year'].apply(lambda x : str(x).split('.')[0])
dr_base_df['year'] = dr_base_df['year'].apply(lambda x : str(x).split('.')[0])

In [127]:
def return_author_with_year(base_df):
    
    new_author_ls = []
    base_df.reset_index(drop=True,inplace=True)
    
    for idx in range(len(base_df)) : 
        if type(base_df['year'][idx]) == str:
            new_author_ls.append(base_df['author'][idx] + '////' + base_df['year'][idx])
        else : 
            new_author_ls.append(base_df['author'][idx] + '////' + 'nan')
    base_df['author'] = [i.strip() for i in base_df['author']]
    base_df['new_author'] = new_author_ls
    return base_df

In [128]:
fm_base_df = return_author_with_year(fm_base_df)
f_base_df = return_author_with_year(f_base_df)
sc_base_df = return_author_with_year(sc_base_df)
dr_base_df = return_author_with_year(dr_base_df)

In [129]:
counter_df = pd.DataFrame.from_dict(Counter(fm_base_df['author'].tolist() + \
f_base_df['author'].tolist() + \
sc_base_df['author'].tolist() + \
dr_base_df['author'].tolist()),orient='index',columns=['count']).sort_values('count',ascending=False)

counter_df.head(10)

                                           count
Fama E. F. and K. R. French                  192
Jensen M. and W. Meckling                     75
Carhart Mark M.                               74
Black F.                                      74
Fama E. F. and J. D. MacBeth                  70
고봉찬 김진우                                       68
Fama E. and French K.                         64
Fama Eugene F. Kenneth R. French              59
Jegadeesh N. and S. Titman                    53
Ang A. R. J. Hodrick Y. Xing and X. Zhang     50

In [130]:
catch_author_ls = counter_df[counter_df['count'] > 3].index.tolist()
print(len(catch_author_ls))
catch_author_ls[:5]

1237

['Fama E. F. and K. R. French',
 'Jensen M. and W. Meckling',
 'Carhart Mark M.',
 'Black F.',
 'Fama E. F. and J. D. MacBeth']

In [188]:
catch_author_ls_copy = catch_author_ls.copy()
tuned_catch_author_ls = []
excepted_ls = []
similar_match_ls = []

for i in range(5) : 
    print(i)
    for idx1,val1 in enumerate(catch_author_ls_copy) : 
        for idx2,val2 in enumerate(catch_author_ls_copy) :
            if idx1 != idx2 : 
#                 v1 = set(val1.split(' '))
#                 v2 = set(val2.split(' '))
                v1 = OrderedSet(val1)
                v2 = OrderedSet(val2)
                try : 
                    if len(set(v1).intersection(v2)) / ((len(v1) + len(v2))/2) > 0.85 : 
                        similar_match_ls.append((val1,val2))
                        if len(v1) > len(v2) :
                            catch_author_ls_copy.pop(catch_author_ls_copy.index(val2))
                            excepted_ls.append((val2))
                        else :
                            catch_author_ls_copy.pop(catch_author_ls_copy.index(val1))
                            excepted_ls.append(((val1)))                    
                except : pass

len(catch_author_ls) , len(catch_author_ls_copy) , len(excepted_ls)

0
1
2
3
4

(1237, 1010, 227)

In [189]:
[i for i in catch_author_ls_copy if 'fama' in i.lower()]

['[Provider:earticle]  Fama E. F. and J. D. MacBeth',
 'Fama E. F.',
 'Fama Eugene F. and French Kenneth R.',
 'Fama E. and J. D. MacBeth',
 'Fama E. F. and M. C. Jensen']

In [223]:
ready_to_target_dict = dict(zip(catch_author_ls_copy,[[] for i in range(len(catch_author_ls_copy))]))
append = 0
naive_append = 0

for idx1,val1 in enumerate(base_df['author'].tolist()) : 
    if idx1 % 4000 == 0 : print(idx1,end='\r')
    for idx2,val2 in enumerate(ready_to_target_dict.keys()) :
        
        if type(val1) == str:
            paper_name = val1.lower()
            target_name = val2.lower()

            paper_name_to_word = set(paper_name.split(' '))
            target_name_to_word = set(target_name.split(' '))
            if len(paper_name_to_word.intersection(target_name_to_word)) / len(paper_name_to_word) > 0.75 : 
                ready_to_target_dict[val2].append(val1)
                append += 1

In [224]:
final_ls = []
process_ls = []
error_ls = []

for idx1 , val in enumerate(base_df['author']) : 
    process_ls = []
    for idx2, key_ in enumerate(list(ready_to_target_dict.keys())) : 
        if val in ready_to_target_dict.get(key_) : 
            process_ls.append(key_)
    if type(val) == str :
        if len(process_ls) == 1 :
            final_ls.append(process_ls[0])
        elif len(process_ls) == 0 :
            final_ls.append(val)
        else : final_ls.append(val)
    else : final_ls.append(None)
        
len(final_ls) == len(base_df)

True

In [225]:
base_df['new_author'] = final_ls

In [226]:
len(set(final_ls)) , len(set(base_df['author']))

(10293, 10536)

In [231]:
final_author_df = base_df.copy()
final_author_df = final_author_df[final_author_df['new_author'].notnull()]

In [251]:
[i for i in ready_to_target_dict.keys() if 'fama' in i.lower()]

['[Provider:earticle]  Fama E. F. and J. D. MacBeth',
 'Fama E. F.',
 'Fama Eugene F. and French Kenneth R.',
 'Fama E. and J. D. MacBeth',
 'Fama E. F. and M. C. Jensen']

In [233]:
display(Markdown('### 기존의 방법론'))
display(pd.DataFrame.from_dict(Counter(final_author_df['author']),orient='index',columns=['count']).sort_values('count',ascending=False).head(20))
display(Markdown('### 개선된 방법론'))
display(pd.DataFrame.from_dict(Counter(final_author_df['new_author']),orient='index',columns=['count']).sort_values('count',ascending=False).head(20))

### 기존의 방법론

                                                    count
Fama E. F. and K. R. French                           169
Jensen M. and W. Meckling                              63
Black F.                                               58
Carhart Mark M.                                        50
Fama E. F. and J. D. MacBeth                           49
Ang A. R. J. Hodrick Y. Xing and X. Zhang              43
Black F. and M. Scholes                                41
Fama E. and French K.                                  41
Bollerslev T.                                          38
Jegadeesh N. and S. Titman                             38
고봉찬 김진우                                                37
Jensen M.                                              36
Cochrane J.                                            34
Baker M. and J. Wurgler                                32
Barber B. M. and T. Odean                              31
Sutcliffe C.                                           31
Cifuentes A. and G. Katsaros 2007 The One-Facto...     30
Jensen M. C. and W. H. Meckling                        30
Amihud Y. and H. Mendelson                             28
Chevalier J. and G. Ellison                            27

### 개선된 방법론

                                                    count
Fama E. F. and K. R. French                           169
[Provider:earticle]  Fama E. F. and J. D. MacBeth      99
[Provider:earticle]  고봉찬 김진우                           64
Jensen M. and W. Meckling                              63
Black F.                                               58
Black F. and M. Scholes                                56
Bakshi G. N. Kapadia and D. Madan                      54
Carhart Mark M.                                        50
액티브펀드의 성과와 종목선택능력에 대한 연구 29 Daniel K. M. Grinbl...     50
Choe H. B. Kho and R. M. Stulz                         47
Jegadeesh N. and S. Titman                             46
Ang A. R. J. Hodrick Y. Xing and X. Zhang              44
Fama Eugene F. and French Kenneth R.                   44
Fama E. and French K.                                  41
Bollerslev T.                                          38
Jensen M.                                              36
Baker M. J. Wurgler and Y. Yuan                        35
Cochrane J.                                            34
Barber B. M. and T. Odean                              31
Sutcliffe C.                                           31

In [174]:
final_ls = []
process_ls = []
error_ls = []

for idx1 , val in enumerate(fm_base_df['author']) : 
    process_ls = []
    for idx2, key_ in enumerate(list(ready_to_target_dict.keys())) : 
        if val in ready_to_target_dict.get(key_) : 
            process_ls.append(key_)
    if type(val) == str :
        if len(process_ls) == 1 :
            final_ls.append(process_ls[0])
        elif len(process_ls) == 0 :
            final_ls.append(val)
        else : final_ls.append(val)
    else : final_ls.append(None)
        
if len(final_ls) == len(fm_base_df) : 
    fm_base_df['new_author'] = final_ls
else : print('error')

In [176]:
[i for i in list(ready_to_target_dict.keys()) if 'fama' in i.lower()]

['Fama E. F. and K. R. French',
 '[Provider:earticle]  Fama E. F. and J. D. MacBeth',
 'Fama E. F.',
 'Fama Eugene F. and French Kenneth R.',
 'Fama E. F. and M. C. Jensen']

In [182]:
set(ready_to_target_dict['Fama E. F. and K. R. French'])

{'Fama E. F. French K. R. ',
 'Fama E. F. and French K. ',
 'Fama E. F. and K. French ',
 'Fama E. F. and K. R. French ',
 'Fama E. and French ',
 'Fama E. and French K. ',
 'Fama E. and K. French ',
 'Fama E. and K. R. French '}

In [177]:
def return_new_counter_df(base_df):
    return pd.DataFrame.from_dict(Counter(base_df['new_author'].tolist()),orient='index',columns=['count']).sort_values('count',ascending=False)

In [178]:
return_new_counter_df(fm_base_df)

                                                    count
Fama E. F. and K. R. French                            39
Jensen M.                                              25
Fama E. and K. French                                  24
Myers S. C.                                            22
Black F.                                               20
신동령                                                    20
Bollerslev T.                                          20
Baker M. and J. Wurgler                                20
Jensen M. and W. Meckling                              19
고봉찬 김진우                                                17
김창수                                                    17
Fama E. and French K.                                  17
Newey W. K. and K. D. West                             17
설원식 김수정                                                16
Jensen M. C.                                           16
Merton Robert C.                                       16
Fama E.                                                15
Jensen M. C. and W. H. Meckling                        14
공재식                                                    14
Fama Eugene F. Kenneth R. French                       14
Carhart Mark M.                                        13
Merton R. C.                                           13
Jegadeesh N. and S. Titman                             13
윤상용 구본일 엄영호 한재훈                                        13
Benston G.                                             13
권택호                                                    13
Engle R. F.                                            13
Shiller R. J.                                          12
Shleifer A. and R. Vishny                              12
이원흠                                                    12
...                                                   ...
Atkins A. and E. Dyl                                    1
Hedge S. and J. B. McDermott                            1
정재엽                                                     1
장경천 정헌용                                                 1
우춘식 곽재석                                                 1
김병준 정호정                                                 1
Shin H.                                                 1
Odders-White E. R. and M. J. Ready                      1
Kothari S. P. S. Shu and P. Wysocki                     1
Harris and Gurel                                        1
54 財務管理硏究 Lee S. and J. Chung                           1
Stowe J. D. and X. Xing                                 1
Dow J. and G. Gorton                                    1
R 2와 기업가치의 관계에 관한 실증연구 201 Salinger M.                  1
Piotroski J. and D. Roulstone                           1
Lee D. W. and Mark Liu                                  1
Kyle A. and W. Xiong                                    1
Kodres L. and M. Pritsker                               1
Durnev A. R. Morck and B. Yeung                         1
200 財務管理硏究 Durnev A. R. Morck B. Yeung and P. Z...      1
DeFond M. and M. Hung                                   1
Park J.                                                 1
Chen Q. I. Goldstein and W. Jiang                       1
Chan K. A. Hameed and W. Kang                           1
Chan K. and A. Hameed                                   1
Brockman P. and X. Yan                                  1
Bris A. W. N. Goetzmann and N. Zhu                      1
Benartzi S. and R. Thaler                               1
Baker M. J. Stein and J. Wurgler                        1
Potter M. and T. Schneeweis                             1

[6313 rows x 1 columns]